form {
    align-items:center;

}

input {
    font-weight: bold;
    padding: 5px;
    margin-right: 5px;
    border-radius: 2px;
    width: 200px;
}

    #dob {
        width: 200px;
    }

    #submit {
        width: 214px;
        font-size: large;
        background-color: black;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #submit:hover {
        background-color: white;
        color: black;
        cursor: pointer;
        border-color:black;
    }

span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    #color {
        width:25px;
        border-radius : 20px;
    }

    #colorsubmit {
        padding:2%;
        font-size:15px;
        background-color:transparent;
    }
.center {
    margin-left:auto;
    margin-right:auto;
    align-items:center;
    justify-content:center;

} 
